.image-enable{
    width: 4rem;
    height: 2.5rem;
    filter: invert(0.35) sepia(1) saturate(50) hue-rotate(90deg);
}

.image-disable{
    width: 4rem;
    height: 2.5rem;
    filter: invert(0.5) sepia(1) saturate(1) hue-rotate(90deg);
}

.button-add{
    margin-top: 0;
    transform: translateY(-90%);
    float: right;
}