.first-image{
    width: 4rem;
    height: 2.5rem;
    filter: invert(0.65) sepia(1) saturate(50) hue-rotate(90deg);
}

.button-add{
    margin-top: 0;
    transform: translateY(-66%);
    float: right;
}