.first-image{
    width: 4rem;
    height: 2.5rem;
    filter: invert(0.65) sepia(1) saturate(50) hue-rotate(90deg);
}

.next-image{
    width: 4rem;
    height: 2.5rem;
    filter: invert(0.65) sepia(1) saturate(50) hue-rotate(90deg);
}
